<p>Looks like you need a pairing! Luckily for you the three amigos are here to help. Once you apply some names below and hit submit, the three amigos will take the group below, sort them in alphabetical order, and apply an age old formula returning group pairs. What is this magical formula, well if you must know, after the grouping is sorted alphabetically, we pair the first and last names, removing those names from the group, rinse and repeat.</p>

<form action="set_names" method="post">
	<p>Name 1 <input type="text" name="name1"></p>
	<p>Name 2 <input type="text" name="name2"></p>
	<p>Name 3 <input type="text" name="name3"></p>
	<p>Name 4 <input type="text" name="name4"></p>
	<p>Name 5 <input type="text" name="name5"></p>
	<p>Name 6 <input type="text" name="name6"></p>
	<p>Name 7 <input type="text" name="name7"></p>
	<p>Name 8 <input type="text" name="name8"></p>
	<p>Name 9 <input type="text" name="name9"></p>
	<p>Name 10 <input type="text" name="name10"></p>
	<input type="submit" id="submit">
</form>