<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<title><%= @title %></title>
</head>
<body>
	
	<div class="container">
		<img src="/img/kratos_flying_pie.jpg" alt="My Cat Kratos" id="kratos-image">
		<img src="/img/flash_nugs.jpg" alt="My Dog Flash" id="flash-image">
		<img src="/img/nacho_donut.jpg" alt="My Cat Nacho" id="nacho-image">
	</div>

	<hr class="style-one">

	<%= yield %>
</body>
</html>